# Downloaded resources
stanza_resources/
BioNLP-OST-2019_BB-rel_dev/
BioNLP-OST-2019_BB-rel_train/
BioNLP-OST-2019_BB-rel_test/

# Virtualenv
.venv

# "Compilation" files
__pycache__/

# Generated pyvis visualization files
graphs/
